<% flash.each do |type, msg| %>
  <marquee style="background-color:black;color:white"><%= type.upcase %>: <%= msg %></marquee>
  </br
<% end %>
<% if @cached %>
  <marquee style="background-color:black;color:white">Using cached results!</marquee>
  </br
<% end %>

<div>
  <%= form_with method: :get do |form| %>
    <%= form.label :street %>
    <%= form.text_field :street, { value: params[:street] } %>
    </br>
    <%= form.label :city %>
    <%= form.text_field :city, { value: params[:city] } %>
    </br>
    <%= form.label :state %>
    <%= form.text_field :state, { value: params[:state] } %>
    </br>
    <%= form.label :zip %>
    <%= form.text_field :zip, { value: params[:zip] } %>
    </br>
    <%= form.label :units %>
    <%= form.select :units, { "Fahrenheit" => "fahrenheit", "Celsius" => "celsius", "Kelvin" => "kelvin" }, { selected: params[:units] } %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<% if @temps %>
  <% if @temps.length.zero? %>
    No results :(
  <% else %>
    Results (in <%= params[:units].capitalize %>):
    </br>
    <% @temps.each do |temp| %>
      Latitude: <%= temp["latitude"] %>
      </br>
      Longitude: <%= temp["longitude"] %>
      </br>
      Current temp is: <%= temp["current"]["current_temp"] %> with a low of <%= temp["current"]["low_temp"] %> and a high of <%= temp["current"]["high_temp"] %>
      </br>
      Weather Forecast:
      <table>
        <tr>
          <th>Time (ISO UTC)</th>
          <th>Temp</th>
        </tr>
        <% temp["extended"].each do |extended_temp| %>
          <tr>
            <th><%= extended_temp["time"] %></th>
            <th><%= extended_temp["current_temp"] %></th>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
